.modalAdd_Container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.modalAdd_Container label {
  text-align: left;
  display: block;
}
.modalAdd_Container h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.modalAdd_Container input, .modalAdd_Container textarea, .modalAdd_Container select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.modalAdd_Container button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}