@import 'https://fonts.googleapis.com/css2?family=Cabin&family=DM+Sans&family=Oswald&display=swap';

$color1: #ffffff;
$color2: #ebf7fe;
$color3: #ffedbd;
$color4: #ffe080;
$color5: #fab06b;
$color6: #425782;
$color7: #425782;

* {
  font-family: 'Cabin', sans-serif;
}
