@import '_colors.scss';

.failMessage {
  color: red;
}

.mainMessage {
  color: blue;
}

.box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.input {
  border-radius: 2px;
  border: 0;
}

.button {
  border: 0;
  border-radius: 2px;
  background-color: greenyellow;
}
