@import '_colors.scss';

.blurb {
  color: $color6;
  text-shadow: 1px 1px;
  text-align: center;
}

.section {
  // background-color: rgb(26, 173, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
